ConsoleApp1ObfuscateMethodName/bin/
.vs/
ClassLibrary1GenerateObfuscateCodeForAI/bin/
ClassLibrary1GenerateObfuscateCodeForAI/obj/
ConsoleApp1ObfuscateMethodName/obj/
TestProject1ObfuscateMethodName/bin/
TestProject1ObfuscateMethodName/obj/
